<div class="container-fluid border-bottom border-top">
  <div class="row mt-2 p-2">
    <div class="table_header_headding d-flex justify-content-between">
      <div class="col-6">
        <ul class="d-flex justify-content-between align-items-center p-0">
          <li>
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <span id="dropdownBasic1" ngbDropdownToggle>
                  <i-feather name="plus" class="me-2"></i-feather>Add new item
                </span>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="toggleShowHide()">
                    Single Contact
                  </button>
                  <hr class="m-0 p-0" />
                  <button ngbDropdownItem>Bulk Upload</button>
                  <button ngbDropdownItem (click)="toggleViewcard()">
                    view card
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a
              ><i-feather name="briefcase" class="me-2"></i-feather> Add to
              Maketing List</a
            >
          </li>
          <li>
            <a> <i-feather name="share-2" class="me-2"></i-feather>Share</a>
          </li>
          <li>
            <a><i-feather name="log-in" class="me-2"></i-feather> Import</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
    <li class="nav-item" [ngbNavItem]="0">
        <button ngbNavLink>Organization</button>
    </li>
    @for (item of navs; track item) {
    <li  [ngbNavItem]="item.id" >
        <button ngbNavLink>
            {{item.organizationName}}
            <span class="btn-close ms-3 fw-light" (click)="close($event, item)"></span>
        </button>
        <ng-template ngbNavContent>
            <app-organization-details [mydata] ="sendData">

            </app-organization-details>
        </ng-template>
    </li>
    }

</ul>

<div [ngbNavOutlet]="nav" class="mt-2">


</div> -->

<div class="container-fluid mt-3 p-0">
  <div class="row d-flex g-0">
    <div class="sidebar_section col-2 p-2 rounded">
      <div class="bg-light border p-2 ps-3" style="height: 73vh">
        <h3>Contacts</h3>
        <div
          class="input_box bg-light d-flex justify-content-between align-items-center"
        >
          <input
            type="text"
            class="form-control rounded"
            placeholder="search here..."
          />
          <span class="ms-2"
            ><i-feather name="search" class="me-2"></i-feather>
          </span>
        </div>
        <ul class="g-0 p-0">
          <div class="d-flex flex-column gap-3">
            <li
              class="pointer_tab mb-2"
              (click)="fetchData('All')"
              [ngClass]="{ active_link: selected == 'All' }"
            >
              <a>
                <div class="text_filed d-flex m-0">
                  <i-feather name="users" class="me-2"></i-feather>
                  <p class="m-0">All Contacts</p>
                </div>
                <p>{{ OrganizaionsDataLength?.flat()?.length }} Contacts</p>
              </a>
            </li>
          </div>
          @for (item of OrganizaionsData; track $index) {

          <div class="d-flex flex-column gap-3">
            <li
              class="pointer_tab"
              (click)="fetchData(item.organizationName)"
              [ngClass]="{ active_link: item.organizationName == selected }"
            >
              <a>
                <div class="text_filed d-flex m-0">
                  <i-feather name="users" class="me-2"></i-feather>
                  <p class="m-0">{{ item.organizationName }}</p>
                </div>
                <p>{{ item.contacts.length }} Contacts</p>
              </a>
            </li>
          </div>

          }
        </ul>
      </div>
    </div>
    <div class="table_and_form col-10 d-flex p-2">
      <div
        class="col-8"
        [ngClass]="{ 'col-12': !toggleValue, transition: !toggleValue }"
      >
        <div
          class="header_sections d-flex justify-content-between align-items-center px-3 mb-3"
        >
          <h3>All Contact Lists</h3>
          <div
            class="input_box bg-light d-flex justify-content-between align-items-center"
          >
            <input
              type="text"
              class="form-control rounded"
              placeholder="search here..."
            />
            <span class="ms-2"
              ><i-feather name="search" class="me-2"></i-feather>
            </span>
          </div>
        </div>

        <ag-grid-angular
          style="width: 100%; height: 550px"
          [columnDefs]="colDefs"
          [rowData]="rowData"
          [pagination]="true"
          [paginationAutoPageSize]="10"
          [paginationPageSizeSelector]="[5, 10, 20]"
          [gridOptions]="gridOptions"
          [rowSelection]="'multiple'"
          (rowClicked)="rowDataSelect($event)"
        >
        </ag-grid-angular>
      </div>
      @if(toggleValue){ @if (!viewCard) {
      <!--Form Sections -->
      <div class="col-4 px-3">
        <div class="card">
          <div class="card-header">Add Contacts</div>
          <div class="card-body">
            <form [formGroup]="contactForm">
              <div class="form-group">
                <label>OrganizationName</label>
                <select
                  name=""
                  id=""
                  class="form-control"
                  formControlName="organizationName"
                >
                  <option value="" disabled selected>Select</option>
                  @for (item of orgnizations; track $index) {
                  <option [value]="item">{{ item }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label> Role</label>
                <select
                  name=""
                  id=""
                  class="form-control"
                  formControlName="role"
                >
                  <option value="" disabled selected>Select</option>

                  @for (item of filteredRole; track $index) {
                  <option [value]="item">{{ item }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label>Industry:</label>
                <input
                  type="text"
                  placeholder="Industry Name"
                  class="form-control"
                  formControlName="industry"
                />
              </div>
              <div class="form-group">
                <label>Onboarding:</label>
                <select
                  name=""
                  id=""
                  class="form-control"
                  formControlName="onboarding"
                >
                  <option value="" disabled selected>Select</option>
                  @for (item of onboarding; track $index) {
                  <option [value]="item">{{ item }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <label>Product</label>
                <input
                  type="text"
                  placeholder="Industry Name"
                  class="form-control"
                  formControlName="product"
                />
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  type="text"
                  placeholder="enter your email"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label>Phone:</label>
                <div class="select-section d-flex gap-2">
                  <select
                    name=""
                    id=""
                    class="form-control w-25"
                    formControlName="codes"
                  >
                    <option value="" disabled selected>Select</option>
                    @for (item of codes; track $index) {
                    <option [value]="item">{{ item }}</option>
                    }
                  </select>
                  <input
                    type="text"
                    placeholder="enter your phone"
                    class="form-control"
                    formControlName="phone"
                  />
                </div>
              </div>

              <div class="button-row d-flex gap-2">
                <button
                  type="submit"
                  class="btn btn-primary mt-2"
                  (click)="onSubmit($event)"
                >
                  Submit
                </button>
                <button
                  type="submit"
                  class="btn btn-secondary mt-2"
                  (click)="this.contactForm.reset()"
                >
                  Clear All
                </button>
                <button
                  type="submit"
                  class="btn btn-light mt-2"
                  (click)="toggleShowHide()"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      } @if (viewCard) {
      <div class="col-4 px-3">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <span>view card</span>
            <i-feather name="edit" (click)="patchData()"></i-feather>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ viewData.id }}</h2>
            <h3 class="m-0">{{ viewData.organizationName }}</h3>
            <p class="m-0">{{ viewData.industry }}</p>
            <p class="m-0">{{ viewData.type }}</p>
            <p class="m-0">{{ viewData.product }}</p>
            <p class="m-0">{{ viewData.onboarding }}</p>
            <p class="m-0">{{ viewData.email }}</p>
            <p class="m-0">{{ viewData.phone }}</p>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a class="btn btn-primary" (click)="toggleValue = false">Close</a>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</div>
<!-- {
          "id": "2004",
          "organizationName": "In2IT A",
          "type": "Customer",
          "industry": "Finance",
          "onboarding": "Active",
          "product": "FinLogic ERP",
          "email": "support@finware.com",
          "phone": "+1-555-2004"
        }, -->
