<div class="container-fluid border-bottom border-top">
  <div class="row mt-2 p-2">
    <div class="table_header_headding d-flex justify-content-between">
      <div class="col-6">
        <ul class="d-flex justify-content-between align-items-center p-0">
          <li>
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <div class="d-flex align-items-center">
                  <span id="dropdownBasic1" ngbDropdownToggle class="cursor-pointer form-control">
                    <i-feather name="plus" class="me-2"></i-feather>Add new item
                  </span>
                  <span (click)="deleteData()" class="ms-2"> <i-feather name="trash2" class="me-2"></i-feather></span>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem (click)="toggleShowHide()">
                    Single Contact
                  </button>
                  <hr class="m-0 p-0" />
                  <button ngbDropdownItem>Bulk Upload</button>
                  <button ngbDropdownItem (click)="toggleViewcard()">
                    view card
                  </button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a><i-feather name="briefcase" class="me-2"></i-feather> Add to
              Maketing List</a>

          </li>
          <li>
            <a> <i-feather name="share-2" class="me-2"></i-feather>Share</a>
          </li>
          <li>
            <a><i-feather name="log-in" class="me-2"></i-feather> Import</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
    <li class="nav-item" [ngbNavItem]="0">
        <button ngbNavLink>Organization</button>
    </li>
    @for (item of navs; track item) {
    <li  [ngbNavItem]="item.id" >
        <button ngbNavLink>
            {{item.organizationName}}
            <span class="btn-close ms-3 fw-light" (click)="close($event, item)"></span>
        </button>
        <ng-template ngbNavContent>
            <app-organization-details [mydata] ="sendData">

            </app-organization-details>
        </ng-template>
    </li>
    }

</ul>

<div [ngbNavOutlet]="nav" class="mt-2">


</div> -->

<div class="container-fluid mt-3 p-0">
  <div class="row d-flex g-0">
    <div class="sidebar_section col-2 p-2 rounded">
      <div class="bg-light border p-2 ps-3" style="min-height: 77vh">
        <h3>Contacts</h3>
        <div class="input_box bg-light d-flex justify-content-between align-items-center">
          <input type="text" class="form-control rounded" placeholder="search here..." [(ngModel)]="searchText"
            (ngModelChange)="onSearchOrg(searchText)" />
          <span class="ms-2"><i-feather name="search" class="me-2"></i-feather>
          </span>
        </div>
        <ul class="g-0 p-0">
          <div class="d-flex flex-column gap-3">
            <li class="pointer_tab mb-2" (click)="fetchData('All')" [ngClass]="{ active_link: selected == 'All' }">
              <a>
                <div class="text_filed d-flex m-0">
                  <i-feather name="users" class="me-2"></i-feather>
                  <p class="m-0">All Contacts</p>
                </div>
                <p>{{ allContacts.length }} Contacts</p>
              </a>
            </li>
          </div>
          @for (item of organizaionsData ; track $index) {
          <div class="d-flex flex-column gap-3">
            <li class="pointer_tab" (click)="fetchData(item.organizationName)"
              [ngClass]="{ active_link: item.organizationName == selected }">
              <a>
                <div class="text_filed d-flex m-0">
                  <i-feather name="users" class="me-2"></i-feather>
                  <a class="m-0 text_decoration">{{ item.organizationName }}</a>
                </div>
                <p>{{ getContactCount(item.organizationName) }} Contacts</p>
              </a>
            </li>
          </div>
          }

        </ul>
      </div>
    </div>
    <div class="table_and_form col-10 d-flex p-2">
      <div class="col-8" [ngClass]="{ 'col-12': !toggleValue, transition: !toggleValue }">
        <div class="header_sections d-flex justify-content-between align-items-center px-3 mb-3">
          <h3>All Contact Lists</h3>
          <div class="input_box bg-light d-flex justify-content-between align-items-center">
            <input type="text" class="form-control rounded" placeholder="search here..." [(ngModel)]="searchText"
              (ngModelChange)="onSearchTextChanged(searchText)" />
            <span class="ms-2"><i-feather name="search" class="me-2"></i-feather>
            </span>
          </div>
        </div>

        <ag-grid-angular style="width: 100%; height: 550px" [columnDefs]="colDefs" [rowData]="rowData"
          [pagination]="true" [paginationAutoPageSize]="10" [paginationPageSizeSelector]="[5, 10, 20]"
          [gridOptions]="gridOptions" [rowSelection]="'multiple'" (rowClicked)="rowDataSelect($event)">
        </ag-grid-angular>
      </div>
      @if(toggleValue){ @if (!viewCard) {
      <!--Form Sections -->
      <div class="col-4 px-3">
        <div class="card">
          <div class="card-header">Add Contacts</div>
          <div class="card-body">
            <form [formGroup]="contactForm">
              <div class="form-group">

                <label class="form-label">Name <span style="color: red;">*</span></label>
                <div class="d-flex gap-2">
                  <div class="d-flex flex-column">
                    <input type="text" placeholder="fname" formControlName="fname" class="form-control">
                    @if( contactForm.get('fname')?.touched &&
                    contactForm.get('fname')?.errors){
                    <div>
                      @if(contactForm.get('fname')?.hasError('required'))
                      {
                      <small>This Field is Required.</small>
                      }
                      @else if (!contactForm.get('fname')?.hasError('required') &&
                      contactForm.get('fname')?.hasError('pattern'))
                      {
                      <small>Only alphabets are required.</small>
                      }
                    </div>
                    }
                  </div>

                  <div class="d-flex flex-column">
                    <input type="text" placeholder="lname" formControlName="lname" class="form-control">
                    @if( contactForm.get('lname')?.touched &&
                    contactForm.get('lname')?.errors){
                    <div>
                      @if(contactForm.get('lname')?.hasError('required'))
                      {
                      <small>This Field is Required.</small>
                      }
                      @else if (!contactForm.get('lname')?.hasError('required') &&
                      contactForm.get('lname')?.hasError('pattern'))
                      {
                      <small>Only alphabets are required.</small>
                      }
                    </div>
                    }
                  </div>

                </div>
                <label class="form-label">OrganizationName <span style="color: red;">*</span></label>
                <select name="" id="" class="form-control" formControlName="organizationName">
                  <option value="Select" disabled>Select</option>
                  @for (item of orgnizations; track $index) {
                  <option [value]="item">{{ item }}</option>
                  }
                </select>
                @if(contactForm.get('organizationName')?.invalid && contactForm.get('organizationName')?.touched)
                {
                <small>This Field is Required.</small>
                }

              </div>
              <div class="form-group">
                <label class="form-label">Email <span style="color: red;">*</span></label>
                <input type="text" placeholder="enter your email" class="form-control" formControlName="email" />
                <small *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">This Field is
                  Required.</small>
              </div>


              <div class="form-group">
                <label class="form-label">Phone <span style="color: red;">*</span></label>
                <div class="select-section d-flex gap-2">
                  <select name="" id="" class="form-control w-25" formControlName="codes">
                    <option value="" disabled selected>Code</option>
                    @for (item of codes; track $index) {
                    <option [value]="item">{{ item }}</option>
                    }
                  </select>
                  <small *ngIf="contactForm.get('codes')?.invalid && contactForm.get('codes')?.touched">This Field is
                    Required.</small>

                  <div class="d-flex flex-column">
                    <input type="text" [placeholder]="onChangePlaceHolder()" class="form-control"
                      formControlName="phone" />
                    @if( contactForm.get('phone')?.touched &&
                    contactForm.get('phone')?.errors){
                    <div>
                      @if(contactForm.get('phone')?.hasError('required'))
                      {
                      <small>This Field is Required.</small>
                      }
                      @else if (!contactForm.get('phone')?.hasError('required') &&
                      contactForm.get('phone')?.hasError('pattern'))
                      {
                      <small>Only Numbers are required.</small>
                      }
                    </div>
                    }
                  </div>
                </div>
              </div>


              <div class="form-group ">
                <label class="form-label"> Role <span style="color: red;">*</span></label>
                <select class="form-control" formControlName="role" [disabled]="true">
                  @if(this.contactForm.get('organizationName')?.value){
                  <option value="" disabled selected>Select</option>
                  @for (item of filteredRole? filteredRole: roles; track $index) {
                  <option [value]="item">{{ item }}</option>
                  }
                  }
                </select>
                <small *ngIf="contactForm.get('role')?.invalid && contactForm.get('role')?.touched">This Field is
                  Required.</small>
              </div>


              <div class="form-group">
                <label class="form-label">Additional Roles <span style="color: red;">*</span></label>
                <input type="text" placeholder="additional roles" class="form-control"
                  formControlName="additionalroles" />
                @if( contactForm.get('additionalroles')?.touched &&
                contactForm.get('additionalroles')?.errors){
                <div>
                  @if(contactForm.get('additionalroles')?.hasError('required'))
                  {
                  <small>This Field is Required.</small>
                  }
                  @else if (!contactForm.get('additionalroles')?.hasError('required') &&
                  contactForm.get('additionalroles')?.hasError('pattern'))
                  {
                  <small>Only alphabets are required.</small>
                  }
                </div>
                }
              </div>


              <div class="form-group">
                <label class="form-label">Reamarks <span style="color: red;">*</span></label>
                <textarea type="text" placeholder="Industry Name" rows="2" class="form-control"
                  formControlName="remarks"></textarea>
                @if( contactForm.get('remarks')?.touched &&
                contactForm.get('remarks')?.invalid){
                <small>This Field is required.</small>
                }
              </div>

              <div class="button-row d-flex gap-2">
                @if (!mode) {
                <button type="submit" class="btn btn-primary mt-2" [disabled]="contactForm.invalid"
                  (click)="onSubmit()">
                  Submit
                </button>
                }
                @if (mode) {
                <button type="submit" class="btn btn-primary mt-2" (click)="updateData()"
                  [disabled]="contactForm.invalid">
                  Update
                </button>
                }
                <button type="submit" class="btn btn-secondary mt-2" (click)="resetForm()">
                  Clear All
                </button>
                <button type="submit" class="btn btn-light mt-2" (click)="toggleShowHide()">
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      } @if (viewCard) {
      <div class="col-4 px-3">
        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <span>view card</span>
            <i-feather name="edit" (click)="patchData()"></i-feather>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{ viewData.id }}</h2>
            <h3 class="m-0">{{ viewData.organizationName }}</h3>
            <p class="m-0">{{ viewData.industry }}</p>
            <p class="m-0">{{ viewData.type }}</p>
            <p class="m-0">{{ viewData.product }}</p>
            <p class="m-0">{{ viewData.onboarding }}</p>
            <p class="m-0">{{ viewData.email }}</p>
            <p class="m-0">{{ viewData.phone }}</p>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a class="btn btn-primary" (click)="toggleValue = false">Close</a>
          </div>
        </div>
      </div>
      } }
    </div>
  </div>
</div>