<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3 border-bottom bg-light">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-2">CAT4U</span> <span class="ms-3 fs-4">iProcess</span>
      @for (item of breadCrumbData; track $index) {
      <span class="ms-3 fs-5">{{ item }}</span>
      }
    </a>


    <ul class="nav nav-pills d-flex align-items-center ">
      @if(!isProduction){
      <li (click)="redirectToLiveSite()" class="nav-item text-underline text-primary cursor-pointer">Go Live</li>
      }

      <li class="nav-item">
        <a class="nav-link"><i-feather name="bell"></i-feather></a>
      </li>

      <li class="nav-item">
        <a class="nav-link"><i-feather name="user"></i-feather></a>
      </li>
    </ul>
  </header>
</div>