ul li {
  list-style-type: none;
}
.close {
  font-size: 1.4rem;
  opacity: 0.1;
  transition: opacity 0.3s;
}
.nav-link:hover > .close {
  opacity: 0.8;
}
.pointer_tab {
  cursor: pointer;
}
.input_box {
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}
.active_link {
  background: rgb(228, 228, 228);
  color: black;
  border-radius: 5px;
}
div li {
  padding: 11px 11px;
}
a {
  text-decoration: none;
  color: black;
}
