ul {
  list-style-type: none;
}
i-feather {
  color: white;
  font-size: 20px;
}
.childli {
  display: flex;
}
a {
  display: flex;
  align-items: center;
  gap: 10px;

  i-feather{
   display: flex;
  }
}
