<div class="conatiner">
	<div class=" card">
		<section class=" text-center container">
			@for (data of Explaindata; track $index) {
			<div _ngcontent-lln-c57="" class="row py-3">
				<div _ngcontent-lln-c57="" class="col-4">
					<ul _ngcontent-lln-c57="">
						<h4>Contact ID : {{data.id}}</h4>
						<h5 _ngcontent-lln-c57=""> {{data.organizationName}}</h5>
						<li _ngcontent-lln-c57=""><strong _ngcontent-lln-c57="">Parent Organization </strong> with
							Related Orgs A Registration Number :AB-123456 </li>
					</ul>
				</div>
				<div _ngcontent-lln-c57="" class="col-3">
					<ul _ngcontent-lln-c57="">
						<li _ngcontent-lln-c57=""><strong _ngcontent-lln-c57="">Additional
								Role: </strong>{{data.additionalroles}}</li>
						<li _ngcontent-lln-c57=""><strong _ngcontent-lln-c57=""> Remarks: </strong>{{data.remarks}}
						</li>
					</ul>
				</div>
				<div _ngcontent-lln-c57="" class="col-3">
					<h5 _ngcontent-lln-c57=""> {{data.fname}} {{data.lname}}<span
							_ngcontent-lln-c57="">{{data.role}}</span></h5>
					<p _ngcontent-lln-c57="">Email: {{data.email}}</p>
					<p _ngcontent-lln-c57="">Phone: {{data.codes}} {{data.phone}}</p>
				</div>
			</div>
			}


		</section>

		<ul ngbNav #nav="ngbNav" [(activeId)]="active" [destroyOnHide]="false" class="nav-tabs">
			<li [ngbNavItem]="1" [destroyOnHide]="true">
				<button ngbNavLink>General Overview</button>
				<ng-template ngbNavContent>
					<ngb-alert [dismissible]="false" class="d-block mt-3" type="danger">
						This tab content DOM will de destroyed when not active
					</ngb-alert>

					<div _ngcontent-cve-c57="" class="row">
						<div _ngcontent-cve-c57="" class="col-lg-4 col-md-6">
							<div _ngcontent-cve-c57="" class="d-flex bg-light p-2">
								<div _ngcontent-cve-c57="" class="quarterly-revenue p-3">
									<h5 _ngcontent-cve-c57="">Quarterly Revenue</h5>
									<h2 _ngcontent-cve-c57="">R O</h2>
									<p _ngcontent-cve-c57=""><span _ngcontent-cve-c57=""
											style="color: rgb(45, 223, 0);">0%</span>compared to last quarter </p>
									<p _ngcontent-cve-c57="" class="pt-2">Customer Lifetime Value</p>
									<h5 _ngcontent-cve-c57="">R O</h5>
									<p _ngcontent-cve-c57="">CAST Score</p>
									<p _ngcontent-cve-c57="">***** 0</p>
								</div>
								<div _ngcontent-cve-c57=""><img _ngcontent-cve-c57=""
										src="https://in2it-demo.netlify.app/assets/img/hero.png" alt=""
										class="img-fluid"></div>
							</div>
						</div>
						<div _ngcontent-cve-c57="" class="col-lg-3">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<h5 _ngcontent-cve-c57="">Billing and Payments</h5><i-feather
											_ngcontent-cve-c57="" name="external-link" _nghost-cve-c41=""><svg
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
												class="feather feather-external-link">
												<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
												</path>
												<polyline points="15 3 21 3 21 9"></polyline>
												<line x1="10" y1="14" x2="21" y2="3"></line>
											</svg></i-feather>
									</div>
									<hr _ngcontent-cve-c57="">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<p _ngcontent-cve-c57="" class="card-text">Upcoming Payments</p>
										<p _ngcontent-cve-c57="">Due Date:</p>
									</div>
									<h5 _ngcontent-cve-c57="">R O</h5>
									<hr _ngcontent-cve-c57="">
									<p _ngcontent-cve-c57="" class="card-text">Pending Payments</p>
									<h5 _ngcontent-cve-c57="">No Pending Payments</h5>
									<hr _ngcontent-cve-c57="">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<p _ngcontent-cve-c57="" class="card-text">Last Payments</p>
										<p _ngcontent-cve-c57="">Paid:</p>
									</div>
									<h5 _ngcontent-cve-c57="">R O</h5>
								</div>
							</div>
						</div>
						<div _ngcontent-cve-c57="" class="col-lg-3 col-md-6">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">Card 3</div>
							</div>
						</div>

					</div>
				</ng-template>
			</li>
			<li [ngbNavItem]="2">
				<button ngbNavLink>Invoice & Reports</button>
				<ng-template ngbNavContent>
					<div _ngcontent-cve-c57="" class="row">
						<div _ngcontent-cve-c57="" class="col-lg-4">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<div _ngcontent-cve-c57="">
											<h5 _ngcontent-cve-c57="" class="card-title">Quarterly Revenue</h5>
											<h1 _ngcontent-cve-c57="">R O</h1>
											<p _ngcontent-cve-c57="" class="card-text">0% campared to last quarter</p>
											<p _ngcontent-cve-c57="" class="card-text">Customer lifeTime Value</p>
											<h4 _ngcontent-cve-c57="">R O</h4>
											<p _ngcontent-cve-c57="" class="card-text">CSAT Score</p>
										</div>
										<div _ngcontent-cve-c57="" class="img"><img _ngcontent-cve-c57=""
												src="https://img.freepik.com/free-vector/design-tools-concept-illustration_114360-1227.jpg?w=740&amp;t=st=1715319940~exp=1715320540~hmac=30ce673b41af2d84fba633cd43c7282e83d0267b23a461e644590b3013faa99a"
												alt="" class="img-fluid"></div>
									</div>
								</div>
							</div>
						</div>
						<div _ngcontent-cve-c57="" class="col-lg-3">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<h5 _ngcontent-cve-c57="">Billing and Payments</h5><i-feather
											_ngcontent-cve-c57="" name="external-link" _nghost-cve-c41=""><svg
												xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
												class="feather feather-external-link">
												<path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6">
												</path>
												<polyline points="15 3 21 3 21 9"></polyline>
												<line x1="10" y1="14" x2="21" y2="3"></line>
											</svg></i-feather>
									</div>
									<hr _ngcontent-cve-c57="">
									<div _ngcontent-cve-c57="" class="d-flex justify-content-between">
										<p _ngcontent-cve-c57="" class="card-text">Upcoming Payments</p>
										<p _ngcontent-cve-c57="">Due Date</p>
									</div>
									<h5 _ngcontent-cve-c57="">R O</h5>
									<hr _ngcontent-cve-c57="">
									<p _ngcontent-cve-c57="" class="card-text">Pending Payments</p>
									<h5 _ngcontent-cve-c57="">No Pending Payments</h5>
									<hr _ngcontent-cve-c57="">
									<p _ngcontent-cve-c57="" class="card-text">Last Payments</p>
									<h5 _ngcontent-cve-c57="">R O</h5>
								</div>
							</div>
						</div>
						<div _ngcontent-cve-c57="" class="col-lg-2">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">
									<h5 _ngcontent-cve-c57="">In Operations Requests</h5>
									<div _ngcontent-cve-c57="" class="box">
										<p _ngcontent-cve-c57="">no Records found</p>
									</div>
									<h4 _ngcontent-cve-c57="">Sales Requests</h4>
									<p _ngcontent-cve-c57="">Product:Managed SDWAN</p>
								</div>
							</div>
						</div>
						<div _ngcontent-cve-c57="" class="col-lg-3">
							<div _ngcontent-cve-c57="" class="card">
								<div _ngcontent-cve-c57="" class="card-body">
									<h5 _ngcontent-cve-c57="">Contacts</h5>
									<div _ngcontent-cve-c57="" class="search-container"><input _ngcontent-cve-c57=""
											type="text" id="searchInput" placeholder="Search..." class="form-control">
									</div>
									<h6 _ngcontent-cve-c57="">Gautam Yadav</h6>
									<p _ngcontent-cve-c57="">Org Role :</p>
									<p _ngcontent-cve-c57="">Preference Contact</p>
								</div>
							</div>
						</div>
					</div>
				</ng-template>
			</li>
			<li [ngbNavItem]="3">
				<button ngbNavLink>Requests</button>
				<ng-template ngbNavContent let-active>
					@if (active) {
					<ngb-alert [dismissible]="false" class="d-block mt-3">
						While tab content DOM is never destroyed, this alert exists only when current tab is active
					</ngb-alert>
					}

					<div class="card-deck mb-3 d-flex gap-3 text-center container">
						<div class="card col-md-4 mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Free</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>10 users included</li>
									<li>2 GB of storage</li>
									<li>Email support</li>
									<li>Help center access</li>
								</ul>
								<button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for
									free</button>
							</div>
						</div>
						<div class="card col-md-4 mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Pro</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small>
								</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>20 users included</li>
									<li>10 GB of storage</li>
									<li>Priority email support</li>
									<li>Help center access</li>
								</ul>
								<button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
							</div>
						</div>
						<div class="card col-md-4 mb-4 box-shadow">
							<div class="card-header">
								<h4 class="my-0 font-weight-normal">Enterprise</h4>
							</div>
							<div class="card-body">
								<h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small>
								</h1>
								<ul class="list-unstyled mt-3 mb-4">
									<li>30 users included</li>
									<li>15 GB of storage</li>
									<li>Phone and email support</li>
									<li>Help center access</li>
								</ul>
								<button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
							</div>
						</div>
					</div>
				</ng-template>
			</li>
			<li [ngbNavItem]="4">
				<button ngbNavLink>Products</button>
				<ng-template ngbNavContent let-active>
					@if (active) {
					<ngb-alert [dismissible]="false" class="d-block mt-3">
						While tab content DOM is never destroyed, this alert exists only when current tab is active
					</ngb-alert>
					}

					<p>
						Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam.
						Nulla
						facilisi.
						Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
						congue
						et odio.
						Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et.
						Sed
						diam urna,
						egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus
						nisl
						enim, nec
						tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
						penatibus et
						magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet
						ultricies in
						eget
						neque. Phasellus nec tortor vel tellus pulvinar feugiat.
					</p>
				</ng-template>
			</li>
			<li [ngbNavItem]="5">
				<button ngbNavLink>Contacts</button>
				<ng-template ngbNavContent let-active>
					<div class="row g-0">
						<div class="col-8" [ngClass]="{'col-12': !viewCard}">
							<ag-grid-angular style="width: 100%;height:550px;" [columnDefs]="colDefs"
								[rowData]="rowData" [pagination]="true" [paginationAutoPageSize]="10"
								[paginationPageSizeSelector]="[5,10,20]" [gridOptions]="gridOptions"
								[rowSelection]="'multiple'" (rowClicked)="rowDataSelect($event)">
							</ag-grid-angular>
						</div>
						@if (viewCard) {
						<div class="col-4 px-2">
							<div class="card">
								<div class="card-header d-flex justify-content-between align-items-center">
									<span>view card</span>
								</div>
								<div class="card-body">
									@if(viewData){
									<h2 class="card-title">{{ viewData.id }}</h2>
									<h3 class="m-0">{{ viewData.organizationName }}</h3>
									<p class="m-0">{{ viewData.industry }}</p>
									<p class="m-0">{{ viewData.type }}</p>
									<p class="m-0">{{ viewData.product }}</p>
									<p class="m-0">{{ viewData.onboarding }}</p>
									<p class="m-0">{{ viewData.email }}</p>
									<p class="m-0">{{ viewData.phone }}</p>
									}

									<p class="card-text">
										With supporting text below as a natural lead-in to additional
										content.
									</p>
									<a class="btn btn-primary" (click)="viewCard = false">Close</a>
								</div>
							</div>
						</div>
						}
					</div>


				</ng-template>
			</li>
		</ul>

		<div [ngbNavOutlet]="nav" class="mt-2"></div>
	</div>
</div>